*{padding: 0px;margin: 0px;}
body{
	height: 100vh; 
	background-image: url("https://static.wikia.nocookie.net/hearthstone_gamepedia/images/f/fb/Skin-Content-Background.jpg");
}
#wrapper{width: 100%;height: 100%;}

.circulo-picker{
    border-radius: 50%;
	display: inline-block;
    position: relative;
}
.circulo-picker:hover{
	cursor: pointer;
}

#columna{
	padding: .5%;
	position: relative;
		left: 1%;
		top: 2%;
	height: 90%;
	width: 30%;
}
/*Visualizer*/
#visualizer{
	border-style: solid;
	font-family: primaryFont; 
	overflow-y: auto;
	height: 55%;
	width: 100%;
}
#visualizer table{
	height: 100%;
	width: 100%; 
}
#visualizer button{
	font-size: 150%;
	width: 100%;
	height: 100%;
}
#visualizer #texto_nombre{
	text-align: center;
	font-size: 280%; 
	font-weight: bold;
	height: 30%;
}
#visualizer #botones{height: 15%;}
#visualizer #botones td{width: 33%;}
#visualizer #modificar {background-color: #aec6cf}
#visualizer #agregar {background-color: #77dd77}
#visualizer #eliminar {background-color: #ff6961}
#visualizer .fila{font-size: 200%;}
#visualizer .fila td{padding-left: 2%;border-top: solid black;}
/*Formulario*/
#formulario{
	display: inline-block;
	height: 45%;
	width: 100%;
}
#formulario form{height: 100%; width: 100%;}
/*Clases*/
#clase{
	margin-top: 1%;
	height: 20%;
	width: 100%;
}
#clase input{
	font-family: secondaryFont;
	border: 0px;
	height: 100%;
	font-size: 150%;
	padding-left: 2%;
}
#clase .texto_nombre{
	margin-left: .5%;
	width: 50%;
}
#clase .hex_color{
	width: 30%;
}
#clase .circulo-picker{
	left: 1.5%;
	top: 15%;
    height: 65%;
	width: 10%;
}
/*Talentos*/
#talentos{height: 80%;width: 100%;}
#talentos button{
	font-family: secondaryFont;
	background: #7b2521;
	color: white;
	font-weight: bold;
	cursor: pointer;
	font-size: 120%;
	margin-top: 5%;
	height: 15%;
	width: 100%;
}
#talentos .fila{margin-top: 1%;height: 13%;margin-top: 2%;}
#talentos .fila input{
	font-family: secondaryFont;
	font-size: 130%;
	padding-left: 2%;
	height: 100%;
}
#talentos .fila .texto_nombre{
	width: 55%;
}
#talentos .fila .hex_color{
	width: 25%;
}
#talentos .fila .circulo-picker{
	left: 3%;
	top: 10%;
    height: 70%;
	width: 6%;
}