@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@font-face{
	font-family: primaryFont;
    src: url('../../assets/fonts/RingbearerMedium.woff');
    format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face{
	font-family: secondaryFont;
    src: url('../../assets/fonts/ExcelsiorRoman.woff');
    format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*General*/
.center-bold{text-align: center;font-weight: bold;}
.maximized{width: 100%;height: 100%;}
.center{text-align: center;}