body{
	background-image: url("https://static.wikia.nocookie.net/hearthstone_gamepedia/images/f/fb/Skin-Content-Background.jpg");
}
#columna{
	height: 90%; 
	width: 35%;
}

#formulario {
	max-height: 50%;
	overflow: auto;
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  #formulario table {
	width: 100%;
  }
  
  #formulario input[type="number"],
  #formulario input[type="text"],
  #formulario select,
  #formulario textarea {
	width: 100%;
	padding-left: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin:10px 0;
	border: none;
	border-radius: 3px;
	background-color: #fff;
	font-size: 16px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  #formulario input[type="number"]:hover,
  #formulario input[type="text"]:hover,
  #formulario select:hover,
  #formulario textarea:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  #formulario input[type="number"]:focus,
  #formulario input[type="text"]:focus,
  #formulario select:focus,
  #formulario textarea:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }
  
  #formulario input[type="number"]::-webkit-outer-spin-button,
  #formulario input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
  }
  
  #formulario select option {
	font-size: 16px;
  }
  
  #botones button {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
  }

  #modificar {background-color: #aec6cf}
  #agregar {background-color: #77dd77}
  #eliminar {background-color: #ff6961}
  
#listaNombres{
	font-family: primaryFont !important;
}

/* Override spell-cards.css for this page */
.spells .card {
	border: none !important;
}
.spells .card ul {
	border: 5px solid #333;
}