/* SPELLS */
.spells {
  font-size: 0.85rem;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; 
}
    
.spells .card {
	background-image: url("https://gitlab.com/neoWavila/viejoazeroth/-/raw/master/_img/_src/background.jpg");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;

	max-width: 300px;
	min-height: 300px;
	margin: 10px auto;
	border: 5px solid #333;
  	list-style-type: none; 
}
.spells .card .card-text {
	margin: 0 0 10px;
	font-size: 1.3em;
}
.spells .card ul {
	font-family: 'secondaryFont'; 
	margin: 0;
	padding: 20px;
	position: relative;
	list-style-type: none; 
	height: 100%
}
.spells .card ul .mana {
	background-image: url('../img/cristal.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	
	position: absolute;
	top: -5px;
	right: 10px;
	padding: 0.5em;
	text-decoration: none; 
	font-size: 2em;
}
.spells .card ul .mana span {color: white; text-shadow: 2px -2px 1px #000;}
.spells .card ul .title {
	font-family: 'primaryFont'; 
	font-size: 2em;
	font-weight: 600;
	color: #333; 

	min-height: 2.4em;
	line-height: 1.2em;
	width: 85%;
}
.spells .card ul .type {
	font-style: italic;
	font-size: 1em;
	color: #333;
	width: 100%;
	margin: .6em 0em 1em 0.4em;
}
.spells .card ul .bold {
	font-size: 1.1em;
	font-weight: 600;
	display: block; 
}
.spells .card ul .descr {
	margin-top: 0.4em; 
	margin-bottom: 2.4em; 
	font-size: 1em;
}        
.spells .card ul .espec {
	text-align: center;
	font-size: 1.5em;
	width: 100%;
	position: absolute;
		bottom: 0px;
		left: 0px;
}
.spells .card ul a {
	font-weight: normal;
	color: #333;
	text-decoration: underline; 
}
.spells .card ul li {
	font-size: .8em;
	color: #333; 
}
.spells .card ul li:nth-child(n+3):nth-child(-n+6) {
	display: inline-block;
	vertical-align: top; 
}
.spells .card ul li:nth-child(n+3), .spells .card ul li:nth-child(n+5) {
	padding-right: 1.5em; 
}
  